
body{
    font-family: sans-serif;
    background-color: rgb(219, 214, 214);
}

/* ------------ container ------------ */
.container{
    padding:10px;
    width:380px;
    margin:0 auto;
}

.header{
    margin-top: 40px;
    width: 450px;
    height:90px;
    position: relative;
    background: teal;
}

#date{
    position: absolute;
    bottom: 30px;
    font-size: 30px;
    left: 50px;
    color: #FFF;
    font-family: sans-serif;
}

.content{
    width: 450px;
    background-color:orange;
    overflow: auto;
    
}

.content::-webkit-scrollbar { 
    display: none; 
}

.content ul{
    padding:10px;
    margin:0;
}

.item{
    width:350px;
    height: 50px;
    min-height: 50px;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.item p.text{
    position: absolute;
    padding:0;
    margin:0;
    font-size: 30px;
    left:60px;
    top:1px;
    color: #FFF;
    max-width:285px;
    margin-left: 40px;
}

.item i.co:hover{
    cursor: pointer;
}

input{
    width: 107%;
    padding: 20px;
}

i{
    color:purple;
    margin: 20px;
    margin-left: 50px;
}






























